# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# JavaScript / Node
node_modules/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Project Specific
*.log
*.sqlite
input.txt
output.txt
sample_input.txt
